#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.canvas {
    border: 2px solid white;
    margin: 10px;
    background-color: black;
    align-items: center;
}
body {
    background-color: black;
}
